---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
export interface Props {
  title: string;
  description: string;
  image?: string;
  canonicalURL?: string;
  schema?: object;
}

const props = Astro.props;
---
<BaseLayout {...props}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
